{% extends "base.html" %}
{% load static %}

{% block extra_title %}-Home{% endblock %}

{% block content %}

<section>
    <div class="container-fluid cover-image">
        <div class="cover-text">
            <p class="foggy">Foggy Notions Presents</p>
            <h1 class="brand-text">Dún Laoghaire Folk Festival</h1>
            <p class="date-text"> 30.08 - 05.09.2021</p>
            <p class="date-text"> Pavilion Theatre</p>

            <p class="date-text">Bob Gallagher presents: Aiteach from Cú Chulainn to the Quare Fellow, Junior Brother, Christy Moore, Lisa O'Neill & Ingrid Lyons, Villagers (Acoustic), Fire Draw Near
                LIVE w/ Ian Lynch (Lankum), The Mary Wallopers, Lemoncello, and John Francis
                Flynn.
            </p>
            <div class="text-center mobile-logo-main">
                <span><img src="media/Foggy Notions White.png" alt="" height="70px"> <img src="/media/Pavilion White.png" alt="" height="70px"><img src="/media/Dept Arts WHITE.png" alt=""
                        height="70px"></span>
            </div>
        </div>
    </div>

</section>

<section>
    <div class="container-fluid mobile-logo">
        <div class="row justify-content-center">
            <div class="col-12 mt-5 mx-auto text-center">
                <div>
                    <h6>Presented by</h6><img src="/media/Foggy Notions Blue.png" alt="" height="100px"><br />
                    <h6>In association with</h6><img src="/media/Pavilion Blue.png" alt="" height="100px"><br /><img src="/media/Dept Arts Blue.png" alt="" height="100px">
                </div>
            </div>
        </div>
    </div>
</section>
<section>

    <div class="container-fluid" id='concerts'>
        <div class="row justify-content-center">
            <div class="col-12 mx-auto text-center">
                <h2 class="py-5">News</h2>
            </div>
        </div>
    </div>

</section>


{% endblock %}