{% extends "base.html" %}
{% load static %}

{% block extra_title %}-Home{% endblock %}

{% block content %}

<section>
    <div class="container-fluid cover-image">
        <!-- <div class="cover-text">
            <p class="foggy">Foggy Notions Presents</p>
            <h1 class="brand-text">Dún Laoghaire Folk Festival</h1>
            <p class="date-text"> 30.08 - 05.09.2021</p>
            <p class="date-text"> Pavilion Theatre</p>

            <p class="date-text">Bob Gallagher presents: Aiteach from Cú Chulainn to the Quare Fellow, Junior Brother, Christy Moore, Lisa O'Neill & Ingrid Lyons, Villagers (Acoustic), Fire Draw Near
                LIVE w/ Ian Lynch (Lankum), The Mary Wallopers, Lemoncello, and John Francis
                Flynn.
            </p>
            <div class="text-center mobile-logo-main">
                <span><img src="https://dlr-folk.s3.eu-west-1.amazonaws.com/media/Foggy Notions White.png" alt="" height="70px"> <img
                        src="https://dlr-folk.s3.eu-west-1.amazonaws.com/media/Pavilion White.png" alt="" height="70px"><img src="https://dlr-folk.s3.eu-west-1.amazonaws.com/media/Dept Arts WHITE.png"
                        alt="" height="70px"></span>
            </div>
        </div> -->
    </div>

</section>

<section>

    <div class="container-fluid" id='concerts'>
        <div class="row justify-content-center">
            <div class="col-12 mx-auto text-center">
                <h2 class="py-5">Dún Laoghaire Folk Festival 2022</h2>
                <p>Foggy Notions is excited to announce the inaugural Dún Laoghaire Folk Festival scheduled to take place at the Pavilion Theatre, Dún Laoghaire from August 30th to Sep 5th, 2021. We
                    are grateful to
                    receive funding support from the Department of Tourism, Culture, Arts, Gaeltacht, Sport and Media to make this event happen. We believe this festival has the potential to flourish
                    over many years and
                    become a vital fixture not just in the Dún Laoghaire Rathdown arts calendar but in the national festival diary.</p>
                <p>For our first year we will present nine wonderful live events reflecting a modern and diverse perspective of Irish folk music. Each event will have a limited capacity due to social
                    distancing and will
                    carefully adhere to all government pandemic guidelines to maximise the safety and comfort of all who attend.</p>
                <p>We are delighted to announce an incredible line-up featuring Christy Moore, Villagers (acoustic), the Fire Draw Near podcast hosted by Ian Lynch of Lankum, Lisa O’Neill & Ingrid
                    Lyons, Lemoncello,
                    Junior Brother, The Mary Wallopers, John Francis Flynn and a special live performance of Bob Gallagher’s Aiteach: From Cú Chulainn to the Quare Fellow.</p>
                <p><strong>Tickets will go on sale Monday August 16th @ 12 noon</strong></p>
                <a href="{% url 'concerts' %}" class="btn btn-outline page-button">
                    <i class="fas fa-info-circle concert-info"></i>
                    Events
                </a>
            </div>
        </div>
    </div>

</section>

<!-- <section>
    <div class="container-fluid mobile-logo">
        <div class="row justify-content-center">
            <div class="col-12 mt-5 mx-auto text-center">
                <div>
                    <h6>Presented by</h6><img src="https://dlr-folk.s3.eu-west-1.amazonaws.com/media/Foggy Notions Blue.png" alt="" height="100px"><br />
                    <h6>In association with</h6><img src="https://dlr-folk.s3.eu-west-1.amazonaws.com/media/Pavilion Blue.png" alt="" height="100px"><br /><img
                        src="https://dlr-folk.s3.eu-west-1.amazonaws.com/media/Dept Arts Blue.png" alt="" height="100px">
                </div>
            </div>
        </div>
    </div>
</section> -->



{% endblock %}