{% extends "base.html" %}
{% load static %}

{% block extra_title %}-Gallery{% endblock %}

{% block content %}

<section>
    <div class="container-fluid" id='concerts'>
        <div class="row justify-content-center">
            <div class="col-12 mx-auto text-center">
                <h2 class="py-5">Gallery</h2>
            </div>
        </div>
    </div>
</section>

<button onclick="topFunction()" id="myBtn" title="Go to top">
    <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
</button>

<section>
    <div class="row">
        {% for photo in photos %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card m-5 border-0 mx-auto text-center card-outline">
                <img src="{{ photo.image.url }}" alt="Card image cap" class="card-img-top">
                <div class="card-body">
                    <div class="artist">
                        <h2 class="card-title">{{ photo.artist }}</h2>
                    </div>
                    <p class="card-text">{{ photo.date_one }} </p>
                    <small>{{ photo.image_by }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}

{% block postload_js %}

<script>

    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

{% endblock %}